<h1>Times</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% if @teams.present? %>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= link_to 'Mostrar', team_path(team) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">Nenhum time encontrado.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Criar Novo Time', new_team_path %>

