<div class="teams">
  <h1>Suas equipes</h1>
    <div>
      <% if @teams.present? %>
        <% @teams.each do |team| %>
            <%= team.name %>
            <%= link_to 'Jogar', team_path(team), class: 'btn btn-primary' %>
        <% end %>
      <% else %>
          <td colspan="2">Nenhum time encontrado.
      <% end %>
    </div>
    <br>
    <div>
    <%= link_to 'Criar Novo Time', new_team_path, class: 'btn btn-primary' %>
    </div>
</div>

<%= image_tag 'create_team.jpeg', class: 'create-team' %>
